<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag(@animal.image, class: "card-img")%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title"><%= @animal.species %></h1>
        <ul class="list-group list-group-flush">

          <li class="list-group-item d-flex justify-content-between">
            <strong>Тип:</strong>
            <%= @animal.type_ %>
          </li>

          <li class="list-group-item d-flex justify-content-between">
              <strong>Клас:</strong>
              <%= @animal.classification %>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <strong>Ряд:</strong>
            <%= @animal.order %>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <strong>Родина:</strong>
            <%= @animal.family %>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <strong>Рід:</strong>
            <%= @animal.genus %>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <strong>Вид:</strong>
            <%= @animal.species %>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container marketing">
  <h1 class="card-title">Основні характеристики</h1>
  <%= @animal.description %>
</div>
